[submodule "vendor/sqlite-vector"]
	path = vendor/sqlite-vector
	url = https://github.com/sqliteai/sqlite-vector.git
[submodule "vendor/sqlite-js"]
	path = vendor/sqlite-js
	url = https://github.com/sqliteai/sqlite-js.git
[submodule "vendor/sqlite-sync"]
	path = vendor/sqlite-sync
	url = https://github.com/sqliteai/sqlite-sync.git
[submodule "vendor/sqlite-memory"]
	path = vendor/sqlite-memory
	url = https://github.com/sqliteai/sqlite-memory.git
[submodule "vendor/sqlite-ai"]
	path = vendor/sqlite-ai
	url = https://github.com/sqliteai/sqlite-ai.git
[submodule "vendor/sqlite-mcp"]
	path = vendor/sqlite-mcp
	url = https://github.com/sqliteai/sqlite-mcp.git