.chart {
  width: 85%;
  padding: 20px;
  // margin-left: auto;
  border: 1px solid lightgray;
  margin-right: none;
  height: auto;
  margin-left: auto;
  margin-bottom: 40px;
  margin-right: 50px;
}