.goals-index-container {
  width: 60%;
  margin: auto;
  border: 1px solid lightgray;
  margin-top: 20px;
}

.new-goal-line-item {
  display: flex;
  justify-content: flex-end;
  width: 91%;
  margin: auto;
  margin-top: 10px;

}

.goal-header {
   width: 50%;
   text-align: center;
   font-weight: 400;
   font-size: 24px;
   margin: auto;
   padding-bottom: 5px;
   border-bottom: 1px solid lightgray;
   margin-bottom: 20px;
   margin-top: 10px;
   color: #0077c5;
}

.add-goal {

  width: 120px;
  height: 34px;
  font-size: 0.93em;
  text-align: center;
  background: white;
  border-radius: 5px;
  border: none;
  margin-top: 10px;
  border: 2px solid #0077C5;
  color: #0077C5;
  font-size: 12px;
}

.add-goal:hover {
  transition: 0.3s;
  background: #0077C5;
  color: white;
  cursor: pointer;
}

.goals {
  margin-bottom: 20px;
}

.goals-list {
  list-style: none;
  padding: 0;
  margin: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 80%;
}


.goal-line-item-container {
  border: 1px solid #00a6a4;
  width: 80%;
  margin: auto;
  margin-top: 10px;
  margin-bottom: 20px;
  display: flex;
  justify-content: space-between;
  padding: 10px;
  border-radius: 5px;
}

.goal-line-item-container img {
  padding: 20px;
  border-right: 1px solid lightgray;
  cursor: pointer;
  box-sizing: border-box;
}

.goal-line-item-container img:hover {
  background: #ff953130;
  transition: 0.3s;
  border-radius: 30px;
  border: 1px solid lightgray
  
}

.goal-line-content {
  display: flex;

}

.goal-line-content span {
  padding: 5px;
}
.goal-line-content:last-child {
  padding: 5px;
}

.goal-line-item-container span {
  display: block;
  justify-self: flex-end;
}

.goal-money-data {
  padding: 5px;
  padding-top: 0;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;

}

.goal-line-span {
  margin-top: 20px;
  margin-right: 5px;
}


.goal-delete {
  cursor: pointer;
  color: red;
  text-align: right;
  padding: 3px;
  margin: 2px;
  margin-left: 4px;
  border: 1px solid red;
}

.goal-delete:hover {
  color: white;
  background: red;
  transition: 0.3s;
}

.goal-right {
  display: flex;
  justify-content: flex-end;
  flex-direction: column;
  border-left: 1px solid lightgray;
}



span.red {
  color: red;
}

span.green {
  color: green;
}

