// Place all the styles related to the api/sessions controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
body {
  margin: 0;
  padding: 0;
  width: 100vw;
}
.session-page {
  background-color: #eceef1;
  margin: 0;
  padding: 0;
  height: 100vh;
  font-family: Avenir, Helvetica, sans-serif;
}

// alt nav
.alt-nav {
  display: flex;
  flex-direction: row;
  justify-content: space-between; 
  align-items: center;
  padding-right: 20px;
  padding-left: 20px;
  height: 60px;    
}

.home-button {
  width: 100px;
  height: 40px;
  font-size: 0.93em;
  text-align: center;
  border: 2px solid #ff9331;
  border-radius: 5px;
  background: white;
}

.home-button a {
  color: #ff9331;
  text-decoration: none;
  font-weight: 300;
}

.home-button:hover {
  background: #ff9331;
  transition: 0.3s;
  cursor: pointer;
}

.home-button:hover a {
  color: white;
}

.alt-div {
  display: flex;
  justify-content: center;
  align-content: center;
}

.alt-div button {

  width: 90px;
  height: 34px;
  font-size: 0.93em;
  text-align: center;
  background: white;
  border-radius: 5px;
  border: none;
  margin-top: 10px;
  border: 2px solid #0077C5;
}

.alt-div button:hover {
  transition: 0.3s;
  background: #0077C5;
  cursor: pointer;
}

.alt-div button a {
  text-decoration: none;
  color: #0077C5;
  padding: 5px;
}

.alt-div button:hover a {
  text-decoration: none;
  color: white;
  padding: 5px;
}

.alt-nav p {
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-weight: 400;
  font-size: 16px;
  color: #505050;
  text-align: right;
  padding-right: 7px;
}
// title
.session-title {
  display: flex;
  justify-content: center;
  align-items: center;
  align-content: center;
  width: 100vw;
  height: auto;
  padding-bottom: 10px;
  flex-direction: column;
}
.session-logo {
  display: flex;
  align-items: center;
 
}
.session-logo a {
  text-decoration: none;
  color: black;
  margin: 0;
  padding: 0;

}
.session-tagline {
  margin: 0;
}

// form container
.session-form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  border: 1px solid #c7c7c7;
  box-sizing: border-box;
  margin: auto;
  overflow: visible;
  width: 380px;
  padding: 30px;
  line-height: 1.5;
  text-align: center;
  color: #4C4C4C;
  background-color:white;
}

.session-form label {
  margin-right: 20px;
  display: flex;
  justify-content: flex-start;
  font-size: 14px;
}
.session-form input {
  width: 100%;
  display: flex;
  justify-content: center;
  border: 1px solid gray;
  height: 30px;
}

.session-errors {
  list-style: none;
  padding: 0;
  margin: 0;
  margin-bottom: 20px;
}

.session-error {
  color: red;
  text-align: center;
}

.session-buttons {
  display: flex;
  flex-direction: column;
}


.session-submit {
  color: white;
  background: #0077C5;
  
  height: 40px;
  border-radius: 5px;
  border: none;
  width: 50%;
  margin: auto;
  margin-top: 10px;
}

.session-submit:hover {
  background: #1492e6;
  cursor: pointer;
}