.transactions-index-container {
  width: 60%;
  margin: auto;
  margin-top: 20px;
  // box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  border: 1px solid #d4d7dc;
  position: relative;
  display: block;
  margin-bottom: 50px;
}

.transactions {
  display: block;
}

.search-bar {
  height: 28px;
}

.add-transaction {
  width: 120px;
  height: 34px;
  font-size: 0.93em;
  text-align: center;
  background: white;
  border-radius: 5px;
  border: none;
  margin-top: 10px;
  margin-bottom: 10px;
  border: 2px solid #0ab6c9;
  color: #0ab6c9;
  font-size: 12px;
}

.search-div {
  width: 35%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.add-goal.search-btn {
  width: 100px;
  margin: 0;
}

.add-transaction:hover {
  transition: 0.3s;
  background: #0ab6c9;
  color: white;
  cursor: pointer;
}

.add-bill-btn.clear-btn {
  border: 1px solid white;
  height: 35px;
}

.add-bill-btn.clear-btn:hover {
  border: 1px solid #ff9331;
}

.above-table {
  width: 89.5%;
  display: flex;
  justify-content: space-between;
  margin: auto;
  margin-top: 5px;
}

table {
  text-align: center;
  border-collapse: collapse;
  border: 3px solid #ddd;
  width: 90%;
  height: 100%;
  table-layout: auto;
  margin: auto;
}

table td,
table th {
  border: 1px solid #ddd;
  padding: 8px;
}

table tr:nth-child(even) {
  background-color: #f2f2f2;
}

table th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: center;
  background-color: #00a6a4;
  color: white;
}

.transactions th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: center;

  color: white;
}

.transactinos table tr {
  cursor: pointer;
}

.transactions table tr:hover {
  background: #ddd;
}

.table-row-data {
  font-size: 12px;
}

.trash-can {
  height: 35px;
  width: 35px;
  padding: 0;
  margin: 0;
  border-radius: 20px;
  margin-right: 2px;
}

.transasction table tr th:last-child {
  background-color: rgb(236, 93, 74);
}

.transaction-gear {
  opacity: 0;
  width: 20px;
  height: 20px;
  right: -50px;
  top: 5px;
  position: relative;
}
.transaction-gear:hover {
  cursor: pointer;
}
tr:hover img.transaction-gear {
  opacity: 1;
}

.transaction-header {
  width: 50%;
  text-align: center;
  font-weight: 400;
  font-size: 24px;
  margin: auto;
  padding-bottom: 5px;
  border-bottom: 1px solid lightgray;
  margin-bottom: 20px;
  margin-top: 10px;
  color: #00a6a4;
}

.delete-transaction:hover {
  cursor: pointer;
}
