.transactions-index-container {

  width: 60%;
  margin: auto;
  margin-top: 20px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  border: 1px solid #d4d7dc;
  position: relative;
  display: block;


}

.transactions {
  display: block;
  // width: 90%
  // justify-content: center;
  // flex-direction: column;

}

// .table-headers {
//   // display: flex;
//   // justify-content: space-between;
//   background-color: #4CAF50;
// }

.above-table {
  width: 89.5%;
  display: flex;
  justify-content: space-between;
  margin: auto;
  margin-top: 5px;
}

table {
    text-align: center;
    border-collapse: collapse;
    border: 3px solid #ddd;
    width: 90%;
    height: 100%;
    table-layout: auto;
    margin: auto;
    
}

table td,
table th {
  border: 1px solid #ddd;
  padding: 8px;
}

table tr:nth-child(even) {
  background-color: #f2f2f2;
}

table th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: center;
  background-color: #00a6a4;
  color: white;

}

.transactions th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: center;
  
  color: white;
}

table tr {
  cursor: pointer;

}

table tr:hover {
  background: #ddd
}


.table-row-data {
  font-size: 12px;
}

.trash-can {
  height: 35px;
  width: 35px;
  padding: 0;
  margin: 0;
  border-radius: 20px;
  margin-right: 2px;
}

table th.column {
  background-color: red;
}