.account-form-container {
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.5);
  z-index: 10;
  font-family: Avenir,
  Helvetica,
  sans-serif;
}

.account-form {
  position: absolute;
  display: flex;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: white;
  width: 500px;
  height: 500px;
  justify-content: center;
  border-radius: 5px;

}

.account-inputs {
  display: flex;
  align-content: center;
  align-items: center;
  flex-direction: column;
  margin: auto;
}

.account-inputs label {
  padding: 20px;
}



.close-x {
  cursor: pointer;
  margin: 10px;
  box-sizing: border-box;
  
}

.edit-delete {
  cursor: pointer;
  color: red;
  margin-top: 20px;
}

.account-form-submit {
  cursor: pointer;
  text-transform: uppercase;
  color: white;
  background-color: #0077c5;
  width: 50px;
  height: 30px;
  border-radius: 5px;
  border: none;
}

.account-form-submit:hover {
  background: #0194f5;
  transition: 0.3s;
}