// Place all the styles related to the accounts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.overview-page {
  font-family: Avenir,
  Helvetica,
  sans-serif;
}

.accounts-index-container {
  width: 60%;
  margin: auto;
  margin-top: 20px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  border: 1px solid #d4d7dc;
  position: relative;
  display: block;
  // flex-direction: column;
}

.account-category {
  position: relative;
  display: block;
  border: 1px solid gray;

  width: 80%;
  margin: auto;
  margin-top: 20px;
  margin-bottom: 20px;
  background: #F7F7F7;
  align-items: center;
  padding: 0;
  list-style: none;
}

.account-category:hover {
  background: #f3f2f2;
  cursor: pointer;
}

.account-category.active {
  background: #f3f2f2;
  margin-bottom: 20px;
}

.account-category-li {
  display: flex;
  align-content: center;
  justify-content: space-between;
  
}
.account-category-li span {
  margin-top: 10px;

}

.category-sutotal {
  margin-right: 10px;
}

.category-line-items {
  // padding: 0;
  // margin: 0;
  display: none;

}

.account-category.active > .category-line-items {

  display: block;
  
}

.category-line-items ul {
    background: white;
    margin: 0;
    padding: 0;
    list-style: none;


   
}

.account-items {
  list-style: none;
  display: block;
}


.category-icons {
  width: 40px;
  height: 40px;
  
}
.down-arrow {
  width: 20px;
  height: 20px;
}



.account-line-item {
  display: flex;
  justify-content: space-between;
  width: 90%;
  margin: auto;
  
}
.account-category-label {

  margin-bottom: 5px;
  font-size: 20px;
  font-weight: 500;
}

.account-institution {
  font-size: 12px;
  color: #8d9096;
}


.net-worth {
  list-style: none;
  margin: auto;
  padding: none;
  width: 80%;
  border-top: 1px solid #eceef1;
  margin-bottom: 40px;
  padding-top: 10px;
  padding-inline-start: 0px;
}

.net-worth-li {
  display: flex;
  justify-content: space-between;
}

.net-worth-assets {
  color: #00a6a4;

}

.net-worth-liabilities {
  color: red;

}

.net-worth-data {
  

}

.account-form-container {
  z-index: 2;
}
